.controls-bar {
    width: 232px;
    height: 331px;
    background-color: white;
}

.controls-bar__buttons {
    width: 204px;
    height: 40px;
    margin-top: 45px;
    margin-right: 15px;
    margin-left: 15px;

}

.controls-bar__button {
    width: 68px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D5D6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
}

.controls-bar__button:hover {
    background: #F2FCFF;
    border: 1px solid #64B5F5;
    box-sizing: border-box; 
}

.controls-bar__button:active {
    background: #2196F3;
    border-radius: 5px 0px 0px 5px;
}

.controls-bar__checkbox {
    display: block;
    background: #F2FCFF;
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 3px;
}
