.controls-bar {
    width: 232px;
    height: 331px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
    border-radius: 5px;
    padding-top: 17.3px;
}

.controls-bar__name {
    margin: 0px;
    font-family: OpenSans;
    line-height: 19px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #4A4A4A;
    margin-left: 15px;
    text-transform: uppercase;
}

.controls-bar__buttons {
    margin-top: 8.7px;
    margin-left: 15px;
    margin-bottom: 32.3px;
}

.controls-bar__button {
    outline: 0;
    position: relative;
    width: 68px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #D2D5D6;
    box-sizing: border-box;
    margin-left: -1px;
    z-index: 1;
    font-family: OpenSans;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-top: 3px;
    cursor: pointer;
}

.controls-bar__button_left {
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}

.controls-bar__button_right {
    border-radius: 0px 5px 5px 0px;
}

.controls-bar__button_hover:hover {
    background-color: #F2FCFF;
    border: 1px solid #2196F3;
    color: #2196F3;
    z-index: 2;
}

.controls-bar__button_active {
    background-color: #2196F3;
    border: 1px solid #2196F3;
    color: #FFFFFF;
}

.controls-bar__filters {
    margin-top: 3.7px;
}


